/* Color */
/* Font */
/* Breakpoints */
/* Dimensions */
.header {
  height: 60px;
  position: fixed;
  color: rgba(255, 255, 255, 0.85);
  top: 0;
  width: 100%;
  left: 0;
  height: 60px;
  z-index: 100;
  background-color: #13449e;
  background-image: url(../images/header-picture.jpg);
  background-size: 1000px;
  background-position: 50% 0px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
}
.header .title {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10;
  margin: 0;
  padding: 15px 10px;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 30px;
  line-height: 30px;
  display: inline-block;
  background-color: rgba(19, 68, 158, 0.7);
  box-shadow: 10px 0 20px rgba(19, 68, 158, 0.3);
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  transition: opacity 1s;
  opacity: 0;
}
.header .title.show {
  opacity: 1;
}
.header .button {
  padding: 10px;
  margin: 6px 10px;
}
.header .button.menu {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 20;
}
.header .button span {
  font-size: 22px;
}

@media all and (min-width: 500px) {
  .header {
    background-size: 1600px;
  }
}
@media all and (min-width: 960px) {
  .header .button {
    display: none;
  }
}
.columns {
  position: relative;
  *zoom: 1;
  width: 100%;
  max-width: 960px;
  padding: 0;
  margin: 60px auto 0;
}
.columns:before, .columns:after {
  content: " ";
  display: table;
}
.columns:after {
  clear: both;
}
.columns .left-col,
.columns .right-col {
  padding: 0;
  margin: 0;
  position: relative;
  max-width: 100%;
  width: 100%;
  overflow-x: hidden;
  left: 0;
  top: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 10;
}
.columns .left-col {
  background-color: #2f2f2f;
  padding-bottom: 50px;
}
.columns .right-col {
  margin: 60px 0 0 -15px;
  position: fixed;
  top: 0;
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -o-transform: translateX(50%);
  transform: translateX(50%);
  z-index: 5;
  padding-right: 10%;
}
.columns.show .left-col {
  -webkit-transform: translateX(-90%) translateZ(0);
  -moz-transform: translateX(-90%) translateZ(0);
  -ms-transform: translateX(-90%) translateZ(0);
  -o-transform: translateX(-90%) translateZ(0);
  transform: translateX(-90%) translateZ(0);
  background-color: transparent;
  opacity: .5;
}
.columns.show .left-col .hero {
  margin: 0px 15px;
}
.columns.show .right-col {
  -webkit-transform: translateX(10%) translateZ(0);
  -moz-transform: translateX(10%) translateZ(0);
  -ms-transform: translateX(10%) translateZ(0);
  -o-transform: translateX(10%) translateZ(0);
  transform: translateX(10%) translateZ(0);
}

@media all and (min-width: 960px) {
  .columns {
    margin-top: 0;
  }
  .columns .left-col,
  .columns .right-col {
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
  }
  .columns .left-col {
    width: 70%;
    float: left;
  }
  .columns .right-col {
    position: relative;
    float: left;
    width: 30%;
    margin: 0;
    padding-right: 0;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  .columns.show .left-col {
    -webkit-transform: translateX(0) translateZ(0);
    -moz-transform: translateX(0) translateZ(0);
    -ms-transform: translateX(0) translateZ(0);
    -o-transform: translateX(0) translateZ(0);
    transform: translateX(0) translateZ(0);
    background-color: #2f2f2f;
    opacity: 1;
  }
  .columns.show .left-col .hero {
    margin: 0px;
  }
  .columns.show .right-col {
    -webkit-transform: translateX(0) translateZ(0);
    -moz-transform: translateX(0) translateZ(0);
    -ms-transform: translateX(0) translateZ(0);
    -o-transform: translateX(0) translateZ(0);
    transform: translateX(0) translateZ(0);
  }
}
.whitebox {
  background-color: white;
}

.article-list {
  margin: 0;
  padding: 0 15px;
  list-style-type: none;
}
.article-list li {
  margin: 15px 0;
  padding: 0;
}

.article {
  padding: 15px;
  overflow: hidden;
}
.article .title {
  margin: 10px 0;
  padding: 0;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 35px;
  line-height: 48px;
  letter-spacing: -1px;
  padding-bottom: 20px;
  border-bottom: 3px solid #333;
}

@media all and (min-width: 500px) {
  .article {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media all and (min-width: 960px) {
  .article {
    padding-left: 40px;
    padding-right: 40px;
  }
}
.button {
  color: #999999;
  border: 1px solid #999999;
  background: transparent;
  text-transform: uppercase;
  display: inline-block;
  padding: 8px 12px;
  text-align: center;
  font-weight: 400;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  outline: none;
}
.button:hover {
  color: #2f2f2f;
  background-color: white;
}
.button.inactive {
  color: #4d4d4d;
  border: 1px solid #4d4d4d;
}
.button.nButton {
  width: 100%;
}
.button.menu {
  color: rgba(255, 255, 255, 0.85);
  border-color: rgba(255, 255, 255, 0.85);
}
.button.menu:hover {
  color: #2f2f2f;
  background-color: rgba(255, 255, 255, 0.85);
}

.sidebar {
  margin-top: 20px;
}
.sidebar ul {
  margin: 20px 0;
  padding: 0;
}
.sidebar li {
  margin: 0;
  padding: 0;
  text-align: left;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  position: relative;
}
.sidebar li ul {
  background-color: #2f2f2f;
  box-shadow: inset 0 3px 15px rgba(0, 0, 0, 0.5), inset 0 -1px 15px rgba(0, 0, 0, 0.3);
  margin: 0;
  position: relative;
}
.sidebar li ul:before {
  content: '';
  display: block;
  background-color: #ffffff;
  width: 16px;
  height: 4px;
  position: absolute;
  margin: -2px -8px 0 0;
  top: 0;
  left: 0;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}
.sidebar li ul li {
  padding-left: 20px;
}
.sidebar li ul li:after {
  left: 30px;
  width: 8px;
  height: 8px;
  margin: 0 -4px -4px 0;
  border-radius: 4px;
  box-shadow: none;
}
.sidebar li ul li:first-of-type {
  padding-top: 8px;
}
.sidebar li ul li:last-of-type {
  padding-bottom: 8px;
}
.sidebar li ul li:last-of-type:after {
  content: none;
}
.sidebar li:after {
  content: '';
  display: block;
  background-color: #ffffff;
  width: 16px;
  height: 4px;
  position: absolute;
  margin: 0 -8px -2px 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}
.sidebar li a {
  font-size: 19.8px;
  display: inline-block;
  color: white;
  padding: 10px;
  margin-left: 30px;
  text-decoration: none;
  font-weight: 100;
}

@font-face {
  font-family: 'dartgames';
  src: url("../fonts/icons/dartgames.eot?-ghqufx");
  src: url("../fonts/icons//dartgames.eot?#iefix-ghqufx") format("embedded-opentype"), url("../fonts/icons//dartgames.woff?-ghqufx") format("woff"), url("../fonts/icons//dartgames.ttf?-ghqufx") format("truetype"), url("../fonts/icons//dartgames.svg?-ghqufx#dartgames") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'dartgames';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-list:before {
  content: "\e600";
}

.icon-search:before {
  content: "\e601";
}

.icon-arrow-left:before {
  content: "\e602";
}

.icon-arrow-right:before {
  content: "\e603";
}

.icon-home:before {
  content: "\e604";
}

.hero {
  height: 100px;
  background-image: url(../images/header-picture.jpg);
  background-position: 50% -60px;
  background-size: 1000px;
}
.hero.hero-full {
  margin-top: 60px;
  display: none;
}

@media all and (min-width: 500px) {
  .hero {
    height: 200px;
    background-size: 1600px;
  }
}
@media all and (min-width: 960px) {
  .hero.hero-full {
    display: block;
  }
  .hero.hero-small {
    display: none;
  }
}
.article img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 15px 0;
  padding: 0;
  border: none;
}
.article img.alignleft {
  margin: 15px 15px 15px 0;
  float: left;
}
.article img.alignright {
  margin: 15px 0 15px 15px;
  float: right;
}
.article a {
  color: #13449e;
  text-decoration: none;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
  font-weight: bold;
}
.article a:hover {
  background-color: #13449e;
  color: white;
}
.article a img {
  position: relative;
}
.article a.image:after {
  position: absolute;
  display: block;
  bottom: 0;
  right: 0;
  content: "\e601";
  font-family: 'dartgames';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 50px;
  height: 50px;
  background-color: #13449e;
  color: white;
}
.article code,
.article pre,
.article .code {
  font-size: 12px;
  line-height: 16px;
}
.article h1,
.article h2,
.article h3,
.article h4,
.article h5,
.article h6 {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
}

.search-form {
  position: relative;
  margin: 0 0 50px;
  padding: 0;
  text-align: left;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  position: relative;
  height: 50px;
}
.search-form:after {
  content: '';
  display: block;
  background-color: #ffffff;
  width: 16px;
  height: 4px;
  position: absolute;
  margin: 0 -8px -2px 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}
.search-form .screen-reader-text {
  display: none;
}
.search-form .search-field {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 19.8px;
  display: inline-block;
  color: white;
  padding: 10px;
  text-decoration: none;
  font-weight: 100;
  margin: 0;
  padding-left: 40px;
  padding-right: 50px;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.search-form .search-field::-webkit-input-placeholder {
  color: white;
}
.search-form .search-field:-moz-placeholder {
  color: white;
}
.search-form .search-field::-moz-placeholder {
  color: white;
}
.search-form .search-field:-ms-input-placeholder {
  color: white;
}
.search-form .search-field:focus {
  background-color: #2f2f2f;
  box-shadow: inset 0 3px 15px rgba(0, 0, 0, 0.5), inset 0 -1px 15px rgba(0, 0, 0, 0.3);
}
.search-form .search-submit {
  position: absolute;
  top: 0;
  right: -50px;
  width: 50px;
  height: 50px;
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  -webkit-transition: right 0.5s;
  -moz-transition: right 0.5s;
  transition: right 0.5s;
}
.search-form .search-submit i {
  color: white;
  font-size: 14px;
  font-weight: 100;
  position: relative;
  top: -3px;
}
.search-form.show .search-submit {
  right: 0;
}

body,
html {
  margin: 0;
  padding: 0;
  background-color: #363944;
  background-repeat: repeat;
  color: #363944;
  font-family: "Droid Serif", serif;
  font-size: 18px;
  line-height: 29px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.outer {
  width: 100%;
  overflow-x: hidden;
}

.admin-bar .header {
  margin-top: 32px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.pagination {
  clear: both;
  text-align: center;
  padding: 10px 15px;
  margin: 0;
}
