/* Color */
/* Font */
.header {
  height: 60px;
  border-bottom: 2px solid white;
  color: white;
  background-color: #343434;
  position: relative;
}
.header .container {
  position: relative;
  padding: 5px 0;
}
.header .title {
  margin: 10px 0 0;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 50px;
  text-align: center;
  display: block;
}
.header .button {
  padding: 14px 12px;
  margin: 5px 10px;
}
.header .button.menu {
  position: absolute;
  right: 0;
  top: 0;
}

.columns {
  position: relative;
  *zoom: 1;
}
.columns:before, .columns:after {
  content: " ";
  display: table;
}
.columns:after {
  clear: both;
}
.columns .left-col,
.columns .right-col {
  padding: 0 10px;
  position: absolute;
  max-width: 100%;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
  z-index: 10;
}
.columns .left-col {
  background-color: #343434;
}
.columns .right-col {
  margin: 0 0 0 10px;
  width: 90%;
  -webkit-transform: translate(20%);
  -moz-transform: translate(20%);
  -ms-transform: translate(20%);
  -o-transform: translate(20%);
  transform: translate(20%);
  z-index: 5;
}
.columns.show .left-col {
  -webkit-transform: translate(-90%);
  -moz-transform: translate(-90%);
  -ms-transform: translate(-90%);
  -o-transform: translate(-90%);
  transform: translate(-90%);
}
.columns.show .right-col {
  -webkit-transform: translate(10%);
  -moz-transform: translate(10%);
  -ms-transform: translate(10%);
  -o-transform: translate(10%);
  transform: translate(10%);
}

.whitebox {
  background-color: white;
  border-radius: 3px;
}

.article-list {
  margin: 0;
  padding: 0;
}
.article-list li {
  margin: 10px 0;
  padding: 0;
}
.article-list li:nth-of-type(odd) .article {
  background-color: #eeeeee;
}

.article {
  padding: 30px;
}
.article .title {
  margin: 10px 0;
  padding: 0;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1px;
  padding-bottom: 20px;
  border-bottom: 3px solid #333;
}
.article .excerpt {
  margin: 15px 0 15px;
  padding: 0;
}

.button {
  color: #999999;
  border: 1px solid #999999;
  border-radius: 3px;
  background: transparent;
  text-transform: uppercase;
  display: inline-block;
  padding: 8px 12px;
  text-align: center;
  font-weight: 400;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.button:hover {
  color: #343434;
  background-color: white;
}
.button.inactive {
  color: #4d4d4d;
  border: 1px solid #4d4d4d;
}
.button.nButton {
  width: 100%;
}

.navigation ul {
  margin: 20px 0;
  padding: 0;
}
.navigation li {
  margin: 0;
  padding: 0;
  background-color: white;
}
.navigation li:nth-of-type(odd) {
  background-color: #eeeeee;
}

body,
html {
  margin: 0;
  padding: 0;
  background-color: #343434;
  color: #333333;
  font-family: "Droid Serif", serif;
  font-size: 18px;
  line-height: 29px;
  height: 100%;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.outer {
  margin-bottom: 50px;
  width: 100%;
  #overflow-x: hidden;
  background-color: #eeeeee;
  min-height: 100%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.actions {
  clear: both;
  text-align: center;
  padding: 10px 15px;
  margin: 0 10px;
}
