 
/* Color */

$backgroundColor: #E7EDF1;
$whiteBoxColor: #ffffff;
$baseColor: #44414C;
$highlightColor: #1344a0;
$navigationColor: rgba(255,255,255,0.85);

/* Font */

$baseFont: 'Droid Serif', serif;
$headingFont: 'Open Sans', sans-serif;
$baseFontSize: 18px;

