 
/* Color */

$backgroundColor: #2f2f2f;
$whiteBoxColor: #ffffff;
$baseColor: #363944;
$highlightColor: #13449e;
$navigationColor: rgba(255,255,255,0.85);
$quoteColor: #eeeeee;

/* Font */

$baseFont: 'Droid Serif', serif;
$headingFont: 'Open Sans', sans-serif;
$baseFontSize: 18px;

/* Breakpoints */

$brpt1: 500px;
$brpt2: 960px;

/* Dimensions */

$maxWidth: 960px;