/* Colors */

$color1: #343434;

$color2: #2F2F2F;
$color3: #F9F9F9;

$color4: #3F4040;
$color5: #26A453;

$maxWidth: 1000px;

$baseFont: 'Lato', sans-serif;
$baseFontSize: 16px;
$headingFontSize: 24px;