@import 'config';
@import 'mixins';
@import 'bourbon/_bourbon.scss';

@import 'gui/_header.scss';
@import 'gui/_columns.scss';
@import 'gui/_whitebox.scss';
@import 'gui/_article-list.scss';
@import 'gui/_article.scss';
@import 'gui/_button.scss';
@import 'gui/_sidebar.scss';
@import 'gui/_icon.scss';
@import 'gui/_hero.scss';

body,
html {
  margin: 0;
  padding: 0;
  background-color: $baseColor;
  background-repeat: repeat;
  color: $baseColor;
  font-family: $baseFont;
  font-size: 18px;
  line-height: 29px;
}

* {
  @include box-sizing(border-box);
}

.outer {
  margin-bottom: 50px;
  width: 100%;
  overflow-x: hidden;
}

.admin-bar {
  .header {
    margin-top: 32px;
  }
}

.container {

}

.left {
  float: left;
}

.right {
  float: right;
}

.pagination {
  clear: both;
  text-align: center;
  padding: 10px 15px;
  margin: 0;
}