@mixin navigation-square() {
  &:after {
    content: '';
    display: block;
    background-color: #ffffff;
    width: 16px;
    height: 4px;
    position: absolute;
    margin: 0 -8px -2px 0;
    bottom: 0;
    left: 0;
    box-shadow: 0 0 20px rgba(255, 255, 255, .5);
  }
}
@mixin btn(){
  $color: darken($whiteBoxColor, 40%);
  color: $color;
  border: 1px solid $color;
  background: transparent;
  text-transform: uppercase;
  display: inline-block;
  padding: 8px 12px;
  text-align: center;
  font-weight: 400;
  text-decoration: none;
  @include transition(all .5s);
  outline: none;

  &:hover {
    color: $backgroundColor;
    background-color: $whiteBoxColor;
  }

  &.inactive {
    $color: darken($whiteBoxColor, 70%);
    color: $color;
    border: 1px solid $color;
  }


  &.nButton {
    width: 100%;
  }

  &.menu {
    color: $navigationColor;
    border-color: $navigationColor;
    &:hover {
      color: $backgroundColor;
      background-color: $navigationColor;
    }
  }
}