.article {
  padding: 15px;
  overflow: hidden;
  
  .title {
    margin: 10px 0;
    padding: 0;
    text-transform: uppercase;
    font-family: $headingFont;
    font-weight: 800;
    font-size: 35px;
    line-height: 48px;
    letter-spacing: -1px;
    padding-bottom: 20px;
    border-bottom: 3px solid #333;
  }

}


@import '../responsive/_article.scss';
