.article-list {
  margin: 0;
  padding: 0 10px;
  
  li {
    margin: 10px 0;
    padding: 0;
    
    &:nth-of-type(odd){
      .article {
        background-color: $whiteBoxColor2;
      }
    }
  }
}