.button {
  $color: darken($whiteBoxColor, 40%);
  color: $color;
  border: 1px solid $color;
  background: transparent;
  text-transform: uppercase;
  display: inline-block;
  padding: 8px 12px;
  text-align: center;
  font-weight: 400;
  text-decoration: none;
  @include transition(all .5s);
  outline: none;
  
  &:hover {
    color: $backgroundColor;
    background-color: $whiteBoxColor;
  }
  
  &.inactive {
     $color: darken($whiteBoxColor, 70%);
     color: $color;
     border: 1px solid $color;
  }


  &.nButton {
    width: 100%;
  }
  
  &.menu {
    color: $navigationColor;
    border-color: $navigationColor;
    &:hover {
      color: $highlightColor;
      background-color: $navigationColor;
    }
  }
}