.columns {
  position: relative;
  @include clearfix();
  
  .left-col,
  .right-col {
    padding: 0 10px;
    position: absolute;
    max-width: 100%;
    width: 100%;
    left: 0;
    top: 0;
    @include transition(all 1s);
    z-index: 10;
  }
  
  .left-col {
      background-color: $backgroundColor;
   }
  
  .right-col {
    margin: 0 0 0 10px;
    width: 90%;
    @include transform(translate(20%));
    z-index: 5;
  }
  
  &.show {
    .left-col {
      @include transform(translate(-90%));
    }
    .right-col {
      @include transform(translate(10%));
    }
  } 
}