.columns {
  position: relative;
  @include clearfix;
  width: 200%;
  padding: 0;
  
  .left-col,
  .right-col {
    padding: 0;
    margin: 0;
    float: left;
    position: relative;
    max-width: 50%;
    width: 100%;
    overflow-x: hidden;
    left: 0;
    top: 0;
    @include transition(all .5s ease);
    z-index: 10;
  }
  
  .left-col {
    background-color: $backgroundColor;
    box-shadow: 5px 0 20px darken($backgroundColor, 5%);
   }
  
  .right-col {
    margin: 0;
    @include transform(translateX(-50%));
    z-index: 5;
  }
  
  &.show {
    .left-col {
      @include transform(translateX(-90%) translateZ(0));
    }
    .right-col {
      @include transform(translateX(-90%) translateZ(0));
    }
  } 
}