.header {
  width: 100%;
  background-color: $color2;
  color: $color3;
  text-align: center;
  margin: 0;
  padding: 10px 0;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  
  .title {
    font-size: 1.5em;
  }
  
  .hide {
    display: none;
  }
  
  .back {
    float: left;
  }
  
  .menu {
    float: right;
  }
}