.hero {
  height: 100px;
  background-image: url(../images/header-picture.jpg);
  background-position: 50% -60px;
  background-size: 1000px;

  &.hero-full {
    margin-top: 60px;
    display: none;
  }
}

@import '../responsive/_hero.scss';
