.navigation {
  ul {
    margin: 20px 0;
    padding: 0;
  }
  
  li {
    margin: 0;
    padding: 0;
    background-color: $whiteBoxColor1;
    
    &:nth-of-type(odd){
      background-color: $whiteBoxColor2;
    }
  }
}