* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #363944;
  color: white;
}


.container {
  width: 300px;
  padding: 20px;
  margin: 20px auto;
  border: 1px solid white;
}

.game,
button {
  display: block;
  width: 100%;
  text-align: center;
  padding: 20px;
}

.game {
  font-size: 40px;
}