img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 15px 0;
  padding: 0;
  border: none;

  &.alignleft {
    margin: 15px 20px 15px 0;
    float: left;
  }

  &.alignright {
    margin: 15px 0 15px 20px;
    float: right;
  }

  &.aligncenter {
    margin: 15px auto 15px;
    display: inline-block;
  }
}


a.img {
  margin: 0;
  padding: 0;
  position: relative;
  &:after:hover {
    position: absolute;
    display: block;
    bottom: 0;
    right: 0;
    content: "\e601";
    font-family: 'dartgames';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 50px;
    height: 50px;
    background-color: $highlightColor;
    color: $whiteBoxColor;
  }
}