table {
  width: 100%;
  border-collapse: collapse;
}

tr:nth-of-type(odd) {
  background: $quoteColor;
}

th {
  background: $baseColor;
  color: white;
  font-weight: bold;
}

td,
th {
  padding: 6px;
  border: 1px solid $backgroundColor;
  text-align: left;
}